php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone Asia/Katmandu
# Deny access to the config file from the browser
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>
